body {
    display: flex;
    align-items: center; 
    justify-content: center; 
    flex-direction: column;
    min-height: 100vh;
    gap: 30px;
    background-color: rgba(98, 98, 98, 0.164);
}

.gameDisplay, .roundDisplay {
    border: black 1px solid;
    border-radius: 5px;
    background-color: rgba(6, 6, 6, 0.404);
    color: white;
    width: 600px;
    height: 300px;
    font-size: 50px;
    font-weight: bold;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
}

.roundDisplay {
    height: 100px;
}

.middle {
    display: flex;
    gap: 50px;
}

button {
    width: 120px;
    height: 120px;
    background-color: rgba(255, 0, 0, 0.301);
    color: rgb(0, 0, 0);
    border-radius: 5px;
    font-family: "Mulish", sans-serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    text-align: center;
    font-size: 20px;
}
